.calculator {
  width: 320px;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffe066;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

input {
  width: 90%;
  margin-bottom: 10px;
  padding: 20px 10px;
  font-size: 18px;
  text-align: right;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid black;
}

.calculator-buttons-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 0;
}

.buttons button {
  padding: 10px;
  font-size: 16px;
  background-color: #ffb74d;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 5px;
}

.input-buttons button {
  font-size: 16px;
  background-color: #0b0701;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 5px;
  color: white;
}

.memory-buttons button {
  font-size: 16px;
  background-color: #524bdc;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 5px;
}

.result button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #ffb74d;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
}

.history-buttons button {
  font-size: 16px;
  background-color: red;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  width: 60px;
  height: 60px;
  margin: 5px;
  color: white;
  transition: transform 0.2s;
}


.buttons button:hover,
.input-buttons button:hover,
.memory-buttons button:hover,
.result button:hover,
.history-buttons button:hover {
  transform: scale(1.1);
}

.buttons button:active,
.input-buttons button:active,
.memory-buttons button:active,
.result button:active,
.history-buttons button:active {
  transform: scale(0.9);
}